# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
*.env
.venv/

# Logs
log/
*.log

# VS Code
.vscode

# Databases
*.db

# Pyrogram
*.session*

# Other stuff
.*/
